.section{
    padding: .5rem;
    justify-content: center;
    align-items: center;
    color: red;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border: 5px dotted purple;
}

.section > label > input{
    margin: .5rem;
    padding: 1rem;
    outline-color: purple;
    
}
.section > label > input[type="number"]::-webkit-outer-spin-button,
.section > label > input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section > label > textarea{
    margin: .5rem;
    padding: 1rem;
    outline-color: purple;
}
.section > button {
    width: 10rem;
    cursor: pointer;
    margin: .5rem;
    padding: .5rem;
    background-color: crimson;
    color: white;
    border: 3px solid wheat;
}